* {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.loginContainer {
    border: 2px solid #00771a;
    height: 400px;
    width: 400px;
    border-radius: 25px;
}